* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main {
    background-color: rgb(233, 233, 173);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background-image: url('../../assets/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;

}

ul {
    display: flex;

}

h1 {
    margin-left: 800px;
    color: darkgreen;
    font-weight: 650px;
    font-size: 40px;
    font-family: Georgia, serif;
}



li {
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 20px;
    list-style: none;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}

li:hover {
    color: rgb(46, 90, 6); 
  }
  
  
  li.clicked {
    color: rgb(20, 63, 20);
  }

a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(5, 46, 1);
    font-weight: 600;
    font-family: Georgia, serif;
}